<div id="<%= dom_id(discussion) %>" class="m-2">
  <h2 class="text-xl">
  <%= link_to discussion.name, discussion %>
  </h2>
  Pinned: <%= discussion.pinned %> | Closed: <%= discussion.closed %>
<div>
  <div class="flex gap-2">
  <%= link_to "Edit", edit_discussion_path(discussion) %> |
  <%= button_to "Delete", discussion, method: :delete, form: {data: {turbo_confirm: "Are you sure ? This cannot be undone"}} %>
  </div>
</div>
</div>
