<div class="flex flex-col justify-center items-center">
  <h1 class="mb-3 text-xl font-semibold">
    <% if action_name == "new" %>
      <%= "New" %>
    <% elsif %>
      <%= "Edit" %>
    <% else %>
      <%= "" %>
    <% end %>
    discussion
  </h1>
  <%= form_with(model: discussion) do |form| %>
    <% if discussion.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(discussion.errors.count, "error") %> prevented this discussion from being saved:</h2>
        <ul>
          <% discussion.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="mb-3 m-4 flex flex-col justify-center">
      <%= form.label :name, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400" %>
      <%= form.text_field :name, placeholder: "How do I...?", class: "border-1 rounded-2xl" %>
    </div>
    <div class="mb-3 m-4">
      <%= form.label :category_id, "Choose a category", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400" %>
      <%= form.collection_select :category_id, Category.sorted, :id, :name,
          {include_blank: "Pick a category..."},
          {autofocus: false, class: "form-control"} %>
    </div>
    <div class="mb-3 m-4">
      <%= form.label :pinned, class: "form-check-label inline-block text-gray-800" %>
      <%= form.check_box :pinned, class: "form-check-input appearance-none h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer" %>
    </div>
    <div class="mb-6 m-4">
      <%= form.label :closed, class: "form-check-label inline-block text-gray-800" %>
      <%= form.check_box :closed, class: "form-check-input appearance-none h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer" %>
    </div>
    <% if discussion.new_record? %>
      <%= form.fields_for :posts do |p| %>
        <div class="mb-6 m-4">
          <%= p.rich_text_area :body, placeholder: "Kickoff the discussion", class: "" %>
        </div>
      <% end %>
    <% end %>
    <div class="mb-3 flex justify-around">
      <%= form.submit class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-xl", style: "cursor:pointer" %>
      <%= link_to "Cancel", discussion, class: "bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow" %>
    </div>
  </div>
<% end %>
</div>
