<%= turbo_stream_from 'discussions' %>
<div class="w-full mt-4 flex justify-around items-center">
  <h1 class="text-3xl font-bold">Discussions</h1>
  <%= link_to "New discussion", new_discussion_path, class: "bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow" %>
</div>



<div class="flex justify-around mt-4 divide-x-2">

  <div class="w-auto">
    <%= turbo_stream_from 'categories' %>
    <h5 class="font-semibold px-2">Categories</h5>
    <div id="categories">
      <%= render(partial: "categories/category", collection: Category.sorted) %>
    </div>
  </div>



  <div class="w-11/12">
    <div class="flex-col">
      <div id="discussions">
        <%= render @discussions %>
      </div>
    </div>
  </div>


</div>
