<%= turbo_stream_from @discussion %>

<%= render "discussions/header", discussion: @discussion %>

<%= render partial: "discussions/posts/post", collection: @posts %>

<div id="<%= dom_id(@new_post) %>" class="flex items-center justify-center">
  <%= render "discussions/posts/form", post: @new_post %>
</div>
